#chat-screen {
  background: #b163df;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #b163df;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 3px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 100px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.message__bubble {
  background-color: white;
  padding: 10px 13px 13px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
}
.message__time {
  opacity: 0.8;
  font-size: 12px;
  margin-bottom: 5px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.reply__column:first-child {
  width: 10%;
}
.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  box-sizing: border-box;
  padding: 0 15px;
  height: 50px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 8px;
}
.reply__column:last-child > i {
  right: 50px;
  top: 9px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 90vw;
  transform: translateX(-10%);
}
/*ele:focus-within : element 내부에 focus가 된 element가 있는지 확인*/
