#friends-display-link {
  text-align: center;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  font-size: 17px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
}

#friends-display-link i {
  color: rgba(255, 255, 255, 0.8);
}

.friends-screen {
  margin-top: 3vh;
  padding: 0 var(--horizontal-space);
  color: white;
}

.friends-screen__channel,
.friends-screen__friends {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.friends-screen__channle-header,
.friends-screen__friends-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5px;
}
.friends-screen__channle-header span,
.friends-screen__friends-header span {
  font-weight: 600;
  font-size: 18px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
