#friends-display-link {
  text-align: center;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  font-size: 17px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
}

#friends-display-link i {
  color: rgba(255, 255, 255, 0.8);
}

.friends-screen {
  height: 70vh;
  margin-top: 3vh;
  padding: 0 var(--horizontal-space);
  color: white;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
  color: white;
}

.friends-screen__channle-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
} /*forwards : 애니메이션이 끝나고 마지막 property값 유지*/

#splash-screen i {
  color: black;
}
