.welcome-header {
  margin: 15vh 0 12vh 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.welcome-header__title {
  margin-bottom: 30px;
  font-size: 2rem;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
#login-form input {
  padding: 15px 5px;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s ease-in-out;
} /*element:not은 앞의 element를 제외한 모든것에 적용시킴*/

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-width: 2px;
  border-color: var(--creamlemon);
}
#login-form input[type="submit"] {
  margin-top: 20px;
  background-color: var(--creamlemon);
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  color: inherit; /*inherit은 부모의 속성을 받아옴*/
  font-size: 13px;
}
