.welcome-header {
  width: 100%;
  height: 25vh;
  padding-top: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: white;
}
.welcome-header__title {
  margin-bottom: 30px;
  font-size: 2rem;
}
.welcome-header__text {
  opacity: 0.8;
  font-weight: 100;
  letter-spacing: 1px;
}

#login-form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  color: white;
}
#login-form input {
  padding: 15px 5px;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
  background: none;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.2s ease-in-out;
} /*element:not은 앞의 element를 제외한 모든것에 적용시킴*/

#login-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#login-form input:focus {
  border-width: 2px;
  border-color: white;
}
#login-form input[type="submit"] {
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 8px;
  font-weight: bold;
  color: #b052db;
}
#login-form a {
  text-align: center;
  color: inherit; /*inherit은 부모의 속성을 받아옴*/
  font-size: 13px;
  margin-top: 10px;
}
