.nav {
  background-color: #f9f9fa;
  padding: 20px 50px 25px;
  border-top: 1px solid rgba(77, 77, 77, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  right: -10px;
  top: -15px;
}

.nav__notification-dot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -15px;
}
