#no-mobile {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #9600ff, #ff8ddb);
  display: flex;
  justify-content: center;
  align-items: center;
}
#no-mobile span {
  color: white;
  font-size: 26px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
